<h3>以下の内容で送信する</h3>

<%= form_with(model: @blog, local: true) do |form| %>
<%= form.hidden_field :title %>
<%= form.hidden_field :content %>

<p>Title:<%= @blog.title %></p>
<p>Content:<%= @blog.content %></p>

<%= form.submit "confirmed" %>

<%= form.submit "back", name: "back" %>
<% end %>

<%= link_to "戻る", :back %>
